* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Catamaran',
        sans-serif;
    font-weight: bold;
    color: #23272A;
}

.container {
    width: 63%;
    margin: 0 auto;
}

/* header e nav */
header {
    position: relative;
    text-align: center;
}

.navbar {
    position: absolute;
    top: 1.7rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

.navbar>img {
    float: left;
}

.navbar>ul {
    float: left;
    width: 70%;
}

.navbar>ul>li {
    display: inline-block;
    list-style: none;
    vertical-align: -webkit-baseline-middle;
}

.navbar>ul a {
    color: white;
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 0.95rem;
}

.navbar>button {
    float: right;
    padding: 0.6rem 0.9rem;
    margin-top: -3px;
}

/* buttons */
button {
    background-color: white;
    border: none;
    border-radius: 5rem;
    font-family: 'Catamaran',
        sans-serif;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

/* hero-image */
.hero_image {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    padding-top: 623px;
    color: white;
    text-align: center;
    position: relative;
}

.hero_image>.container {
    width: 37%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_image h1 {
    font-size: 3.5rem;
}

.hero_image p {
    font-size: 1.2rem;
    padding: 2.5rem 0 1.5rem 0;
    line-height: 1.7rem;
}

.hero_image button {
    margin-left: 1rem;
    font-size: 1rem;
    padding: 1rem 1.7rem;
}

.hero_image>.container>button:last-child {
    background-color: #23272A;
    color: white;
}

.hero_image i {
    font-size: 1rem;
    padding-right: .5rem;
}

/* prima riga */
.row {
    padding: 130px 0 200px 0;
}

.row .col_image {
    width: 71%;
    float: left;
}

.row .col_text {
    width: 29%;
    float: left;
    /* padding: 1rem; */
}

.col_text>h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 2rem 0;
}

.col_text>p {
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.item2 {
    margin-left: auto;
    display: block;
}