* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Catamaran',
        sans-serif;
    color: #23272A;
}

.container {
    width: 63%;
    margin: 0 auto;
}

/* header e nav */
header {
    position: relative;
    text-align: center;
}

.navbar {
    position: absolute;
    top: 1.7rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

.navbar>img {
    float: left;
}

.navbar>ul {
    float: left;
    width: 70%;
}

.navbar>ul>li {
    display: inline-block;
    list-style: none;
    vertical-align: -webkit-baseline-middle;
}

.navbar>ul a {
    color: white;
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 0.95rem;
}

.navbar a:hover {
    text-decoration: underline;
}

/* buttons */
button {
    background-color: white;
    border: none;
    border-radius: 5rem;
    font-family: 'Catamaran',
        sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 1.7rem;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
}

.navbar>button,
#site_footer button {
    float: right;
    padding: 0.3rem 0.7rem;
}

#site_footer button {
    margin-top: -5px;
}

.hero_image>.container>button:last-child {
    background-color: #23272A;
    margin-left: 1rem;
    color: white;
}

.last>button {
    background-color: #8EA1E1;
    color: white;
}

/* hero-image */
.hero_image {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    padding-top: 623px;
    color: white;
    text-align: center;
    position: relative;
}

.hero_image>.container {
    width: 37%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_image h1 {
    font-size: 3.5rem;
}

.hero_image p {
    font-size: 1.2rem;
    padding: 2.5rem 0 1.5rem 0;
    line-height: 1.7rem;
}

.hero_image i {
    font-size: 1rem;
    padding-right: .5rem;
}

/* sezioni */
.row {
    padding: 130px 0 200px 0;
}

.row .col_image {
    width: 71%;
    float: left;
}

.row .col_text {
    width: 29%;
    float: left;
}

.row h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 2rem 0;
}

.row p {
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.item2 {
    display: block;
    margin-left: auto;
}

/* ultima sezione */
.last {
    text-align: center;
}

.last>p {
    width: 85%;
    margin: auto;
}

.last>img {
    width: 100%;
}

.last>h3 {
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 48%;
    margin: auto;
    font-size: 2rem;
    padding: 2rem 0;
}

/* footer */
#site_footer {
    background-color: #23272A;
    color: white;
}

#site_footer>.container:first-child {
    border-bottom: 1px solid #8EA1E1;
}

#site_footer>.container {
    padding: 2rem 0;
}

#site_footer .col:first-child {
    width: 33.32%;
}

#site_footer .col {
    float: left;
    width: 16.66%;
    padding-top: 80px;
}

#site_footer h2 {
    color: #8EA1E1;
    font-size: 2rem;
    line-height: 2.3rem;
    padding-right: 6rem;
}

#site_footer ul>li {
    list-style: none;
    line-height: 1.8rem;
}

#site_footer ul>li:first-child {
    color: #8EA1E1;
    font-size: 1.1rem;
}

#site_footer ul>li a {
    color: white;
    text-decoration: none;
}

#site_footer a:hover {
    text-decoration: underline;
}

.col>.lang {
    padding: 2rem 0;
}

.col>.lang>img {
    float: left;
    width: 1.7rem;
    padding-right: 3px;
}

.col>.lang>p {
    font-size: 0.9rem;
    float: left;
}

#site_footer .lang i {
    font-size: 0.7rem;
}

#site_footer .lang:hover {
    cursor: pointer;
}

#site_footer .social i {
    font-size: 1.3rem;
    margin-right: 1.5rem;
}

#site_footer .social i:hover {
    cursor: pointer;
}

#site_footer img {
    float: left;
}

/* grey background */
.bg_grey {
    background-color: #f6f6f6;
    position: relative;
}

/* wave */
.wave svg {
    color: #f6f6f6;
    margin-bottom: -10px;
}

.white_wave svg {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}